<!--header-->
<%- include('partial/_header')%>
<!--header-->

<!--Main-->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <div class="filter">
                <a href="/"><button type="button" class="btn btn-info">Back to All Users</button></a>
            </div>
        </div>
        
        <%- include('partial/_form')%>
    </div>
</main>
<!--/Main-->

<!--footer-->
<%- include('partial/_footer')%>
<!--footer-->