<!--header-->
<%- include('partial/_header')%>
<!--header-->

<!--Main-->
<main>
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <a href="/add-emoji">
                <span>
                    <button type="button" class="btn btn-primary">New Emoji</button>
                </span>
            </a>
        </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <td>Id</td>
                        <td>Name</td>
                        <td>Description</td>
                        <td>Emoji</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                </thead>
                <tbody>
                    <%- include('partial/_tableContent')%>
                </tbody>
            </table>
    </div>
</main>
<!--/Main-->

<!--footer-->
<%- include('partial/_footer')%>
<!--footer-->

