<!--form handling-->
<form action="/api/emoji" id="add_emoji" method="post">
  <div class="row">
    <div class="form-group col-lg-6">
      <label for="name" class="form-label">Name</label>
      <input
        type="text"
        name="name"
        class="form-control"
        placeholder="Enter Emoji Name."
      />
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-6">
      <label for="description" class="text-label">Description</label>
      <input
        type="text"
        name="description"
        class="form-control"
        placeholder="Enter Emoji Description."
      />
    </div>
  </div>
  <div class="row">
    <div class="form-group col-lg-6">
      <label for="utf8" class="text-label">UTF-8</label>
      <input
        type="text"
        name="utf8"
        class="form-control"
        placeholder="Enter UTF-8 code."
      />
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <label for="status" class="text-light">Status</label>
      <div class="radio-inline">
        <input type="radio" name="status" value="Active" />
        <label for="status" class="text-light">Active</label>
      </div>
      <div class="radio-inline">
        <input type="radio" name="status" value="Inactive" />
        <label for="status" class="text-light">Inactive</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="form-group">
      <button type="submit" class="btn btn-primary">Save</button>
    </div>
  </div>
</form>
